# PHÂN TÍCH DỮ LIỆU BANK MARKETING VÀ ỨNG DỤNG MÔ HÌNH PHÂN LỚP TRONG DỰ ĐOÁN KHÁCH HÀNG CÓ KHẢ NĂNG MỞ SỔ TIẾT KIỆM HAY KHÔNG

**<h4>1.Thu thập dữ liệu (Data collection)</h4>**
**<h4>2.Chuẩn bị dữ liệu (Data preparation)</h4>**
**<h4>3.Lựa chọn mô hình phù hợp (Choosing a model)</h4>**
**<h4>4.Huấn luyện mô hình (Training)</h4>**
**<h4>5.Đánh giá mô hình (Evaluation)</h4>**
**<h4>6.Tùy chỉnh tham số của mô hình (Parameter tuning)</h4>**
**<h4>7.Dự đoán với với mô hình xây dựng được (Prediction)</h4>**

## Bước 1.Thu thập dữ liệu (Data collection):
---

**Mô tả tập dữ liệu thu thập được phục vụ bài toán:**
- Tên Dataset: **bank.csv**
- File dữ liệu chứa thông tin của **300 bệnh nhân bị bệnh đau ngực**
- Mỗi dòng ứng với thông tin của một bệnh nhân, bao gồm 17 thuộc tính:
     - *age: tuổi
     - *job: nghề nghiệp (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')*
     - *marital: tình trạng hôn nhân (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)*
     - *education: học vấn (categorical: primary, secondary, tertiary and unknown)*
     - *default: có khoản tín dụng (categorical: 'no','yes','unknown')*
     - *balance: chỉ số cân bằng tài chính*
     - *housing: có vay mua nhà hay không (categorical: 'no','yes','unknown')*
     - *loan: có khoản nợ cá nhân (categorical: 'no','yes','unknown')*
     - *contact: liên hệ qua điện thoại bàn hoặc cellphone (categorical: 'cellular','telephone')*
     - *day: ngày liên hệ cuối cùng trong tuần(categorical: 'mon','tue','wed','thu','fri')*
     - *month: tháng liên hệ cuối cùng trong năm (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')*
     - *duration: thời gian cuộc gọi cuối cùng*
     - *campaign: số lần liên hệ cho khách hàng trong suốt chiến dịch quảng cáo*
     - *pdays: số ngày trôi qua sau khi khách được liên hệ từ khách hàng trước, nếu = 999 thì khách chưa được liên hệ trước đó*
     - *previous: số lần liên hệ thực hiện trước chiến dịch này*
     - *poutcome: kết quả của chiến lược trước đó (categorical: 'failure','nonexistent','success')*
     - *deposit: target, output value là khách hàng có mở sổ tiết kiệm hay không (có, không)*

In [5]:
import pandas as pd
from plotly import tools

ModuleNotFoundError: No module named 'plotly'

In [4]:
raw_data = pd.read_csv('bank.csv')

In [5]:
raw_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [7]:
raw_data.describe(include='O')

,job,marital,education,default,housing,loan,contact,month,poutcome,deposit
count,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162
unique,12,3,4,2,2,2,3,12,4,2
top,management,married,secondary,no,no,no,cellular,may,unknown,no
freq,2566,6351,5476,10994,5881,9702,8042,2824,8326,5873

In [4]:
!pip install -U plotly

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (4.14.3)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from plotly) (1.3.3)

In [2]:
!pip3 install plotly --upgrade

Requirement already satisfied: plotly in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from plotly) (1.15.0)